* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
}

.Main {
  width: 100%;
  height: 1050px;
  background: rgba(11,61,145,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}

.Search {
  width: 678px;
  height: 71px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 622px;
  overflow: hidden;
}

.Search_Box {
  width: 678px;
  height: 71px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.Search_Input {
  width: 678px;
  height: 71px;
  color: rgba(0,0,0,0.5);
  background: rgba(255,255,255,1);
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto, serif;
  font-weight: normal;
  font-size: 20px;
  opacity: 1;
  text-align: left;
  border: 2px solid rgba(0,0,0,1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  padding-left: 57px;
}

.Search_Icon {
  width: 42px;
  height: 43px;
  background: url("../images/Search Icon.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 4px;
  overflow: hidden;
}

.ProjectScrollBox{
  top: 325px;
  left: 615px;
  display: block;
  border: 0 solid red;
  position: absolute;
  padding: 5px;
  margin-top: 5px;
  width: 700px;
  height: 500px;
  overflow-y: scroll;
}

.Image {
  width: 638px;
  height: 75px;
  background: rgba(252,61,33,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 20px;
  overflow: hidden;
}

.Name {
  width: 205px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 100px;
  left: 20px;
  font-family: Roboto, serif;
  font-weight: normal;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.Description {
  width: 638px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 150px;
  left: 20px;
  font-family: Roboto, serif;
  font-weight: normal;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.Tags {
  width: 638px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 20px;
  font-family: Roboto, serif;
  font-weight: normal;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.Header_Bar {
  width: 100%;
  height: 170px;
  background: rgba(8,42,99,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
}

.Logo {
  width: 130px;
  height: 130px;
  background: url("../images/Nasa Logo.png") no-repeat center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 22px;
  overflow: hidden;
}

.Title {
  width: 300px;
  height: 122px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: calc(50vw - 150px);
  overflow: hidden;
}

.Joint_Logo_Background {
  width: 118px;
  height: 115px;
  background: rgba(252,61,33,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0;
  border: 6px solid rgba(255,255,255,1);
  border-radius: 15px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.Joint_Title {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10px;
  left: 130px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 75px;
  opacity: 1;
  text-align: left;
}

.Joint_Logo {
  width: 108px;
  height: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0;
  left: 0;
  font-family: Arimo, serif;
  font-weight: Bold;
  font-size: 100px;
  opacity: 1;
  text-align: center;
}

.Login {
  width: 150px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1050px;
  overflow: hidden;
}

.LoginBackground {
  width: 150px;
  height: 68px;
  background: rgba(252,61,33,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid rgba(252,61,33,1);
}

.LoginInput {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 44px;
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.Signup {
  width: 150px;
  height: 68px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1225px;
  overflow: hidden;
}

.SignupBackground {
  width: 150px;
  height: 68px;
  background: rgba(252,61,33,1);
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  border: 2px solid rgba(252,61,33,1);
}

.SignupInput {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 20px;
  left: 37px;
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}

.Profile {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 1100px;
  overflow: hidden;
}

.ProfileLogo {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.ProfileInput {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0;
  left: 0;
  font-family: Roboto, serif;
  font-weight: bold;
  font-size: 25px;
  opacity: 1;
  text-align: center;
  background: url("../images/Profile Picture.png");
}

.Sidebar {
  width: 250px;
  height: 100%;
  background: rgba(23,93,175,1);
  opacity: 1;
  position: absolute;
  top: 169px;
  left: 5px;
  border-radius: 6px;
  overflow: hidden;
}

.Recommended_Tags_Text {
  color: rgba(255,255,255,1);
  position: absolute;
  top: 10%;
  left: 22px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}

.Recommended_Tag_1 {
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 285px;
  left: 27px;
  border: 6px solid rgba(255,255,255,1);
  border-radius: 15px;
  overflow: hidden;
}

.Recommended_Tag_2 {
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 368px;
  left: 27px;
  border: 6px solid rgba(255,255,255,1);
  border-radius: 15px;
  overflow: hidden;
}

.Recommended_Tag_3 {
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 452px;
  left: 27px;
  border: 6px solid rgba(255,255,255,1);
  border-radius: 15px;
  overflow: hidden;
}

.Recommended_Tag_4 {
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 532px;
  left: 27px;
  border: 6px solid rgba(255,255,255,1);
  border-radius: 15px;
  overflow: hidden;
}

.Hot_Projects_Text {
  width: 164px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 651px;
  left: 30px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}

.Hot_Project_1 {
  width: 434px;
  height: 184px;
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 32px;
  overflow: hidden;
}

.Hot_Project_2 {
  width: 434px;
  height: 183px;
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 945px;
  left: 32px;
  overflow: hidden;
}

.Preferred_Time_Range_Check_Boxes {
  width: 42px;
  height: 217px;
  background: rgba(11,61,145,1);
  opacity: 1;
  position: absolute;
  top: 1307px;
  left: 32px;
}

.Hot_Project_1_Text {
  width: 245px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 739px;
  left: 49px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}

.Hot_Project_2_Text {
  width: 254px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 957px;
  left: 49px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}

.Preferred_Time_Range_Text {
  width: 326px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1199px;
  left: 32px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}

.Thirty-FortyFive_MinutesADay {
  width: 258px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1308px;
  left: 96px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}

.One-Two_HoursADay {
  width: 241px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1364px;
  left: 96px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}

.Three-Four_HoursADay {
  width: 249px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1422px;
  left: 97px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}

.Five-Six_HoursADay {
  width: 246px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1480px;
  left: 97px;
  font-family: Barlow, serif;
  font-weight: Bold;
  font-size: 35px;
  opacity: 1;
  text-align: left;
}

